In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [47]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [48]:
data = data.drop(columns = ['RowNumber','CustomerId','Surname']).reset_index(drop=True)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [49]:
# Load the pickle files
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geography.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)

In [50]:
## Encode the categorical features
geo_encoded = onehot_encoder_geo.transform(data[['Geography']]).toarray()
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [51]:
geo_encoded = pd.DataFrame(data = geo_encoded, columns = onehot_encoder_geo.get_feature_names_out())
geo_encoded

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [52]:
data['Gender'] = label_encoder_gender.transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [53]:
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [54]:
data = pd.concat([data.drop(columns = ['Geography']),geo_encoded], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [55]:
# Dependent and Independent variables
X = data.drop(columns = ['EstimatedSalary'])
y = data['EstimatedSalary']

In [56]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=43)

In [58]:
X_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
2724,453,0,38,8,120623.21,1,1,0,0,0.0,1.0,0.0
5057,753,0,46,3,111512.75,3,1,0,1,0.0,1.0,0.0
6027,850,1,44,3,140393.65,2,0,1,0,0.0,1.0,0.0
6729,454,0,50,10,92895.56,1,1,0,1,0.0,1.0,0.0
9132,635,0,33,5,0.00,2,1,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8499,498,1,35,2,121968.11,2,0,1,0,0.0,1.0,0.0
2064,765,1,44,6,0.00,2,1,1,0,1.0,0.0,0.0
7985,696,0,27,2,96129.32,2,1,1,0,0.0,1.0,0.0
2303,714,1,45,0,124693.48,1,0,1,0,0.0,0.0,1.0
3392,623,1,33,8,96759.42,1,1,1,0,0.0,1.0,0.0

In [59]:
## Scale the data
scaler_reg = StandardScaler()
scale_columns = ['CreditScore','Age','Tenure','Balance','NumOfProducts']
X_train[scale_columns]

      CreditScore  Age  Tenure    Balance  NumOfProducts
2724          453   38       8  120623.21              1
5057          753   46       3  111512.75              3
6027          850   44       3  140393.65              2
6729          454   50      10   92895.56              1
9132          635   33       5       0.00              2
...           ...  ...     ...        ...            ...
8499          498   35       2  121968.11              2
2064          765   44       6       0.00              2
7985          696   27       2   96129.32              2
2303          714   45       0  124693.48              1
3392          623   33       8   96759.42              1

[7000 rows x 5 columns]

In [60]:
X_train[scale_columns] = scaler_reg.fit_transform(X_train[scale_columns])
X_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
2724,-2.030028,0,-0.100679,1.032376,0.708724,-0.917116,1,0,0,0.0,1.0,0.0
5057,1.066608,0,0.656712,-0.700380,0.563109,2.538111,1,0,1,0.0,1.0,0.0
6027,2.067854,1,0.467364,-0.700380,1.024721,0.810498,0,1,0,0.0,1.0,0.0
6729,-2.019706,0,1.035408,1.725478,0.265545,-0.917116,1,0,1,0.0,1.0,0.0
9132,-0.151402,0,-0.574048,-0.007278,-1.219231,0.810498,1,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8499,-1.565533,1,-0.384701,-1.046931,0.730220,0.810498,0,1,0,0.0,1.0,0.0
2064,1.190474,1,0.467364,0.339273,-1.219231,0.810498,1,1,0,1.0,0.0,0.0
7985,0.478247,0,-1.142092,-1.046931,0.317232,0.810498,1,1,0,0.0,1.0,0.0
2303,0.664046,1,0.562038,-1.740033,0.773781,-0.917116,0,1,0,0.0,0.0,1.0
3392,-0.275267,1,-0.574048,1.032376,0.327303,-0.917116,1,1,0,0.0,1.0,0.0

In [61]:
y_train

2724    129697.99
5057    159576.75
6027    186285.52
6729    154344.00
9132    122949.71
          ...
8499    188343.05
2064    159899.97
7985      5983.70
2303    187194.15
3392    174777.98
Name: EstimatedSalary, Length: 7000, dtype: float64

In [62]:
X_test[scale_columns] = scaler_reg.transform(X_test[scale_columns])
X_test.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
9415,1.221440,0,0.372691,-1.046931,0.846833,0.810498,0,0,0,0.0,1.0,0.0
6377,0.436959,1,-0.574048,1.378927,-1.219231,-0.917116,1,0,1,1.0,0.0,0.0
8019,0.344060,0,3.212907,1.032376,0.982183,0.810498,1,1,0,1.0,0.0,0.0
7754,-0.894595,0,0.278017,0.339273,0.364013,0.810498,1,0,1,0.0,0.0,1.0
4961,0.405993,1,0.562038,-1.740033,0.861327,0.810498,1,0,0,0.0,1.0,0.0

In [41]:
with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler_reg,file)

## ANN Implementation

In [63]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [64]:
model = Sequential([
    Dense(64,activation='relu',input_shape = (X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

c:\Vipina\FindJ\Resume\GitHub\ANN_Churn_Classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [65]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [66]:
opt = tf.keras.optimizers.Adam()
los = tf.keras.losses.MeanAbsoluteError()

In [67]:
# complie model
model.compile(optimizer=opt, loss = los, metrics=['mae'])

In [68]:
# Set up tensorboard callback
log_dir = 'regression/fit' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [69]:
# set up early stopping
earlystopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [70]:
# train the model
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 100,
    callbacks = [tensorflow_callback, earlystopping_callback]
)

Epoch 1/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98534.8438 - mae: 98534.8438 - val_loss: 101578.6328 - val_mae: 101578.6328
Epoch 2/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 98717.2266 - mae: 98717.2266 - val_loss: 99079.7891 - val_mae: 99079.7891
Epoch 3/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 96046.7656 - mae: 96046.7656 - val_loss: 92689.1719 - val_mae: 92689.1719
Epoch 4/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 88060.8203 - mae: 88060.8203 - val_loss: 82659.3281 - val_mae: 82659.3281
Epoch 5/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77713.0234 - mae: 77713.0234 - val_loss: 71164.2891 - val_mae: 71164.2891
Epoch 6/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 66383.8125 - mae: 66383.8125 - val_loss: 61552.8164 - val_mae: 61552.8164
Epoch 7/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 58847.6289 - mae: 58847.6289 - val_loss: 56102.6523 - val_mae: 56102.6523
Epoch 8/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 53649.5117 - mae: 53649.5117 - val_loss: 53807.2578 - val_mae: 53807.2578
Epoch 9/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52421.3633 - mae: 52421.3633 - val_loss: 53082.2891 - val_mae: 53082.2891
Epoch 10/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52645.1602 - mae: 52645.1602 - val_loss: 52828.6875 - val_mae: 52828.6875
Epoch 11/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51344.7266 - mae: 51344.7266 - val_loss: 52696.1719 - val_mae: 52696.1719
Epoch 12/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51098.9844 - mae: 51098.9844 - val_loss: 52595.6914 - val_mae: 52595.6914
Epoch 13/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51199.4922 - mae: 51199.4922 - val_loss: 52505.5195 - val_mae: 52505.5195
Epoch 14/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51712.2188 - mae: 51712.2188 - val_loss: 52430.3828 - val_mae: 52430.3828
Epoch 15/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51376.1211 - mae: 51376.1211 - val_loss: 52364.3164 - val_mae: 52364.3164
Epoch 16/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51374.1836 - mae: 51374.1836 - val_loss: 52258.4258 - val_mae: 52258.4258
Epoch 17/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 52155.9688 - mae: 52155.9688 - val_loss: 52216.6328 - val_mae: 52216.6328
Epoch 18/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51712.2461 - mae: 51712.2461 - val_loss: 52123.0195 - val_mae: 52123.0195
Epoch 19/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51797.6914 - mae: 51797.6914 - val_loss: 52048.6875 - val_mae: 52048.6875
Epoch 20/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51155.4805 - mae: 51155.4805 - val_loss: 51995.5039 - val_mae: 51995.5039
Epoch 21/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50923.8516 - mae: 50923.8516 - val_loss: 51920.3789 - val_mae: 51920.3789
Epoch 22/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51127.0117 - mae: 51127.0117 - val_loss: 51871.6758 - val_mae: 51871.6758
Epoch 23/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51131.5391 - mae: 51131.5391 - val_loss: 51805.5078 - val_mae: 51805.5078
Epoch 24/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50787.4883 - mae: 50787.4883 - val_loss: 51739.1484 - val_mae: 51739.1484
Epoch 25/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51361.4258 - mae: 51361.4258 - val_loss: 51686.1602 - val_mae: 51686.1602
Epoch 26/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51207.3750 - mae: 51207.3750 - val_loss: 51624.7734 - val_mae: 51624.7734
Epoch 27/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51264.4102 - mae: 51264.4102 - val_loss: 51570.1016 - val_mae: 51570.1016
Epoch 28/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51283.5547 - mae: 51283.5547 - val_loss: 51522.2227 - val_mae: 51522.2227
Epoch 29/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51306.0352 - mae: 51306.0352 - val_loss: 51477.8438 - val_mae: 51477.8438
Epoch 30/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50895.7852 - mae: 50895.7852 - val_loss: 51411.0391 - val_mae: 51411.0391
Epoch 31/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51128.5820 - mae: 51128.5820 - val_loss: 51360.4258 - val_mae: 51360.4258
Epoch 32/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50298.4727 - mae: 50298.4727 - val_loss: 51306.2383 - val_mae: 51306.2383
Epoch 33/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51176.5898 - mae: 51176.5898 - val_loss: 51247.3555 - val_mae: 51247.3555
Epoch 34/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50399.8047 - mae: 50399.8047 - val_loss: 51200.0625 - val_mae: 51200.0625
Epoch 35/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50999.4180 - mae: 50999.4180 - val_loss: 51143.1875 - val_mae: 51143.1875
Epoch 36/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50889.4922 - mae: 50889.4922 - val_loss: 51097.2422 - val_mae: 51097.2422
Epoch 37/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50217.8867 - mae: 50217.8867 - val_loss: 51052.2930 - val_mae: 51052.2930
Epoch 38/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51047.7383 - mae: 51047.7383 - val_loss: 51000.9922 - val_mae: 51000.9922
Epoch 39/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50273.7891 - mae: 50273.7891 - val_loss: 50960.0195 - val_mae: 50960.0195
Epoch 40/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50783.1797 - mae: 50783.1797 - val_loss: 50911.0312 - val_mae: 50911.0312
Epoch 41/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50673.6367 - mae: 50673.6367 - val_loss: 50866.6719 - val_mae: 50866.6719
Epoch 42/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50476.0352 - mae: 50476.0352 - val_loss: 50819.6836 - val_mae: 50819.6836
Epoch 43/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50276.6484 - mae: 50276.6484 - val_loss: 50781.5625 - val_mae: 50781.5625
Epoch 44/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50169.9492 - mae: 50169.9492 - val_loss: 50745.1484 - val_mae: 50745.1484
Epoch 45/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51295.8789 - mae: 51295.8789 - val_loss: 50682.0742 - val_mae: 50682.0742
Epoch 46/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50820.5273 - mae: 50820.5273 - val_loss: 50649.8359 - val_mae: 50649.8359
Epoch 47/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50367.8945 - mae: 50367.8945 - val_loss: 50614.5391 - val_mae: 50614.5391
Epoch 48/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50476.1641 - mae: 50476.1641 - val_loss: 50587.9961 - val_mae: 50587.9961
Epoch 49/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49985.3711 - mae: 49985.3711 - val_loss: 50528.1562 - val_mae: 50528.1562
Epoch 50/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50298.3438 - mae: 50298.3438 - val_loss: 50500.8164 - val_mae: 50500.8164
Epoch 51/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50242.6016 - mae: 50242.6016 - val_loss: 50474.0625 - val_mae: 50474.0625
Epoch 52/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49347.1445 - mae: 49347.1445 - val_loss: 50442.1055 - val_mae: 50442.1055
Epoch 53/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49986.3867 - mae: 49986.3867 - val_loss: 50399.7969 - val_mae: 50399.7969
Epoch 54/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49384.7344 - mae: 49384.7344 - val_loss: 50380.0039 - val_mae: 50380.0039
Epoch 55/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50172.5977 - mae: 50172.5977 - val_loss: 50352.4570 - val_mae: 50352.4570
Epoch 56/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49615.5117 - mae: 49615.5117 - val_loss: 50301.5859 - val_mae: 50301.5859
Epoch 57/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50341.5625 - mae: 50341.5625 - val_loss: 50290.0039 - val_mae: 50290.0039
Epoch 58/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49794.4883 - mae: 49794.4883 - val_loss: 50257.9258 - val_mae: 50257.9258
Epoch 59/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49518.7773 - mae: 49518.7773 - val_loss: 50224.6836 - val_mae: 50224.6836
Epoch 60/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50346.6289 - mae: 50346.6289 - val_loss: 50208.2656 - val_mae: 50208.2656
Epoch 61/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50293.7852 - mae: 50293.7852 - val_loss: 50194.7031 - val_mae: 50194.7031
Epoch 62/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49596.3242 - mae: 49596.3242 - val_loss: 50162.1914 - val_mae: 50162.1914
Epoch 63/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49932.5898 - mae: 49932.5898 - val_loss: 50143.2539 - val_mae: 50143.2539
Epoch 64/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50013.3047 - mae: 50013.3047 - val_loss: 50129.8945 - val_mae: 50129.8945
Epoch 65/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49702.8398 - mae: 49702.8398 - val_loss: 50105.3828 - val_mae: 50105.3828
Epoch 66/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50264.2461 - mae: 50264.2461 - val_loss: 50088.3633 - val_mae: 50088.3633
Epoch 67/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50050.1484 - mae: 50050.1484 - val_loss: 50064.6875 - val_mae: 50064.6875
Epoch 68/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49626.2695 - mae: 49626.2695 - val_loss: 50051.0625 - val_mae: 50051.0625
Epoch 69/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50332.2773 - mae: 50332.2773 - val_loss: 50026.8320 - val_mae: 50026.8320
Epoch 70/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49964.7578 - mae: 49964.7578 - val_loss: 50020.5938 - val_mae: 50020.5938
Epoch 71/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49527.9297 - mae: 49527.9297 - val_loss: 50015.1367 - val_mae: 50015.1367
Epoch 72/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49972.4102 - mae: 49972.4102 - val_loss: 50015.9531 - val_mae: 50015.9531
Epoch 73/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49701.2227 - mae: 49701.2227 - val_loss: 49978.9062 - val_mae: 49978.9062
Epoch 74/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50023.2852 - mae: 50023.2852 - val_loss: 49973.7617 - val_mae: 49973.7617
Epoch 75/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49860.9141 - mae: 49860.9141 - val_loss: 49948.7539 - val_mae: 49948.7539
Epoch 76/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49873.0508 - mae: 49873.0508 - val_loss: 49927.4023 - val_mae: 49927.4023
Epoch 77/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50018.2148 - mae: 50018.2148 - val_loss: 49920.0859 - val_mae: 49920.0859
Epoch 78/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49495.1133 - mae: 49495.1133 - val_loss: 49907.4648 - val_mae: 49907.4648
Epoch 79/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49423.1055 - mae: 49423.1055 - val_loss: 49915.6641 - val_mae: 49915.6641
Epoch 80/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50479.5039 - mae: 50479.5039 - val_loss: 49893.9375 - val_mae: 49893.9375
Epoch 81/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50288.1836 - mae: 50288.1836 - val_loss: 49887.2695 - val_mae: 49887.2695
Epoch 82/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49692.9648 - mae: 49692.9648 - val_loss: 49896.3320 - val_mae: 49896.3320
Epoch 83/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49524.7031 - mae: 49524.7031 - val_loss: 49864.2969 - val_mae: 49864.2969
Epoch 84/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50332.5312 - mae: 50332.5312 - val_loss: 49842.5234 - val_mae: 49842.5234
Epoch 85/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49536.0977 - mae: 49536.0977 - val_loss: 49835.6836 - val_mae: 49835.6836
Epoch 86/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49338.6797 - mae: 49338.6797 - val_loss: 49831.7852 - val_mae: 49831.7852
Epoch 87/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49500.4805 - mae: 49500.4805 - val_loss: 49821.6641 - val_mae: 49821.6641
Epoch 88/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49725.7539 - mae: 49725.7539 - val_loss: 49828.2461 - val_mae: 49828.2461
Epoch 89/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49897.3750 - mae: 49897.3750 - val_loss: 49818.7734 - val_mae: 49818.7734
Epoch 90/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49164.5547 - mae: 49164.5547 - val_loss: 49828.3164 - val_mae: 49828.3164
Epoch 91/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50034.1914 - mae: 50034.1914 - val_loss: 49806.4570 - val_mae: 49806.4570
Epoch 92/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48966.3438 - mae: 48966.3438 - val_loss: 49814.3359 - val_mae: 49814.3359
Epoch 93/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50143.0430 - mae: 50143.0430 - val_loss: 49818.5234 - val_mae: 49818.5234
Epoch 94/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49815.9727 - mae: 49815.9727 - val_loss: 49782.9609 - val_mae: 49782.9609
Epoch 95/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49766.7969 - mae: 49766.7969 - val_loss: 49790.2148 - val_mae: 49790.2148
Epoch 96/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49786.3672 - mae: 49786.3672 - val_loss: 49773.8516 - val_mae: 49773.8516
Epoch 97/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49408.1719 - mae: 49408.1719 - val_loss: 49774.2891 - val_mae: 49774.2891
Epoch 98/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49921.8945 - mae: 49921.8945 - val_loss: 49745.1055 - val_mae: 49745.1055
Epoch 99/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49847.1016 - mae: 49847.1016 - val_loss: 49739.5898 - val_mae: 49739.5898
Epoch 100/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50046.0547 - mae: 50046.0547 - val_loss: 49757.1367 - val_mae: 49757.1367

In [71]:
model.save('regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [72]:
## Set up a tensorborad and launch it
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [74]:
%tensorboard --logdir regression/fit20241202-004425

Reusing TensorBoard on port 6007 (pid 8316), started 0:00:28 ago. (Use '!kill 8316' to kill it.)